.StyledButton {
  color: white;
  background: black;
  padding: 0.2rem 0.8rem;
  border: 1px solid teal;
  border-radius: 2rem;
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 1.5;
  cursor: pointer;
}
